absl-py                                                                    
aiohttp                                                                    
aiosignal                                                                    
altair                                                                    
annoy                                                                     
astunparse                                                                    
async-timeout                                                                    
attrs                                                                     
bcrypt                                                                    
blinker                                                                  
blis                                                                    
boto3                                                                      
botocore                                                                      
Brlapi                                                                    
CacheControl                                                                     
cachetools                                                                    
catalogue                                                                    
certifi                                                                        
chardet                                                                    
charset-normalizer                                                                    
click                                                                    
colorama                                                                    
command-not-found                                                                  
confection                                                                    
contourpy                                                                    
cryptography                                                                    
cupshelpers                                                                  
cycler                                                                     
cymem                                                                    
datasets                                                                    
dbus-python                                                                     
decorator                                                                    
DeepImageSearch                                                                  
deeplake                                                                    
defer                                                                    
DIF                                                                    
difPy                                                                    
dill                                                                    
distlib                                                                    
distro                                                                    
distro-info                                                                         
dm-tree                                                                    
dnspython                                                                    
duplicity                                                                     
entrypoints                                                                  
etils                                                                    
faiss-gpu                                                                    
fasteners                                                                     
filelock                                                                     
firebase-admin                                                                    
Flask                                                                    
Flask-Cors                                                                    
flatbuffers                                                                      
fonttools                                                                     
frozenlist                                                                    
fsspec                                                                       
future                                                                     
gast                                                                    
gitdb                                                                     
GitPython                                                                     
google-api-core                                                                     
google-api-python-client                                                                      
google-auth                                                                     
google-auth-httplib2                                                                    
google-auth-oauthlib                                                                    
google-cloud-core                                                                    
google-cloud-firestore                                                                     
google-cloud-storage                                                                     
google-crc32c                                                                    
google-pasta                                                                    
google-resumable-media                                                                    
googleapis-common-protos                                                                     
grpcio                                                                     
grpcio-status                                                                     
gunicorn                                                                     
gyp                                                                  
h5py                                                                    
httplib2                                                                     
hub                                                                    
huggingface-hub                                                                     
humbug                                                                    
idna                                                                  
imageio                                                                     
importlib-metadata                                                                    
importlib-resources                                                                     
itsdangerous                                                                    
jeepney                                                                    
Jinja2                                                                    
jmespath                                                                    
jsonschema                                                                     
keras                                                                     
keras-models                                                                    
keyring                                                                     
kiwisolver                                                                    
langcodes                                                                    
language-selector                                                                  
launchpadlib                                                                      
lazr.restfulclient                                                                     
lazr.uri                                                                    
libclang                                                                       
lockfile                                                                     
louis                                                                     
macaroonbakery                                                                    
Mako                                                                    
Markdown                                                                    
markdown-it-py                                                                    
MarkupSafe                                                                    
matplotlib                                                                    
mdurl                                                                    
monotonic                                                                  
more-itertools                                                                     
mpmath                                                                    
msgpack                                                                    
multidict                                                                    
multiprocess                                                                      
murmurhash                                                                    
netifaces                                                                     
networkx                                                                  
numcodecs                                                                     
numpy                                                                     
nvidia-cublas-cu12                                                                       
nvidia-cuda-cupti-cu12                                                                       
nvidia-cuda-nvrtc-cu12                                                                       
nvidia-cuda-runtime-cu12                                                                       
nvidia-cudnn-cu12                                                                       
nvidia-cufft-cu12                                                                        
nvidia-curand-cu12                                                                         
nvidia-cusolver-cu12                                                                         
nvidia-cusparse-cu12                                                                         
nvidia-nccl-cu12                                                                     
nvidia-nvjitlink-cu12                                                                       
nvidia-nvtx-cu12                                                                       
oauthlib                                                                    
olefile                                                                   
opencv-python                                                                       
opt-einsum                                                                    
packaging                                                                   
pandas                                                                    
paramiko                                                                    
pathlib                                                                    
pathos                                                                    
pathy                                                                     
pexpect                                                                    
Pillow                                                                    
platformdirs                                                                     
pox                                                                    
ppft                                                                      
preshed                                                                    
promise                                                                  
proto-plus                                                                     
protobuf                                                                     
psutil                                                                    
ptyprocess                                                                    
pyarrow                                                                     
pyasn1                                                                    
pyasn1-modules                                                                    
pycairo                                                                     
pycups                                                                    
pydantic                                                                     
pydeck                                                                    
Pygments                                                                     
PyGObject                                                                     
PyJWT                                                                    
pymacaroons                                                                     
pymongo                                                                    
Pympler                                                                    
PyNaCl                                                                    
pyparsing                                                                    
pyRFC3339                                                                  
pyrsistent                                                                     
python-apt                                                                            
python-dateutil                                                                    
python-debian                                                                               
pytz                                                                     
pytz-deprecation-shim                                                                          
PyWavelets                                                                    
pyxdg                                                                   
PyYAML                                                                    
reportlab                                                                    
requests                                                                     
requests-oauthlib                                                                    
responses                                                                     
rich                                                                     
rsa                                                                  
s3transfer                                                                    
safetensors                                                                    
scikit-image                                                                     
scipy                                                                     
SecretStorage                                                                    
semver                                                                     
six                                                                     
smart-open                                                                    
smmap                                                                    
spacy                                                                    
spacy-legacy                                                                     
spacy-loggers                                                                    
srsly                                                                    
streamlit                                                                     
sympy                                                                   
systemd-python                                                                  
tensorboard                                                                     
tensorboard-data-server                                                                    
tensorboard-plugin-wit                                                                    
tensorflow                                                                     
tensorflow-datasets                                                                    
tensorflow-estimator                                                                     
tensorflow-hub                                                                     
tensorflow-io-gcs-filesystem                                                                     
tensorflow-metadata                                                                     
termcolor                                                                    
thinc                                                                    
tifffile                                                                       
timm                                                                    
toml                                                                     
toolz                                                                     
torch                                                                    
torchvision                                                                     
tornado                                                                  
tqdm                                                                     
triton                                                                    
typer                                                                    
typing_extensions                                                                    
tzdata                                                                     
tzlocal                                                                  
ubuntu-advantage-tools                                                                   
ubuntu-drivers-common                                                                    
ufw                                                                     
unattended-upgrades                                                                  
uritemplate                                                                    
urllib3                                                                     
usb-creator                                                                    
validators                                                                     
virtualenv                                                                      
wadllib                                                                    
wasabi                                                                    
watchdog                                                                    
Werkzeug                                                                    
wrapt                                                                     
xdg                                                                
xkit                                                                    
xxhash                                                                    
yarl                                                                    
zipp                                                                    