<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Home Page</title>
</head>
<body>
<! -- Calls a function on the page load. -- >
<element onload="myfunction_onload">
<!-- <button type="submit" onclick='myfunction_clickevent()'>Run my Python!</button> -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<! -- This script runs the python script on the page load -->
<form >   
    <input type="file" name="file" id="fileInput" />   
    <input type="button" value="Upload"  onclick="uploadFile()">   
</form>  
<table id="myTable">
    <thead>
      <tr>

        <th>Image URL</th>
      </tr>
    </thead>
    <tbody>
      <!-- Table content will be added here dynamically -->
    </tbody>
  </table>
<script>
    function myfunction_onload(){
        $.ajax({
            url: "app.py",
             context: document.body
            })
        }
    </script>
<! -- This script runs the python script when the button is clicked -->
<script >
    function myfunction_clickevent(){
        $.ajax({
            url:"../test.py",
            context: document.body});}
    // function myfunction_clickevent(){
    //     $.ajax({
    //         url:"http://localhost:5000/test",
    //         context: document.body});}


    function uploadFile() {
        // Check if a file is selected
        var fileInput = document.getElementById('fileInput');
        if (!fileInput.files.length) {
            alert("Please select a file before clicking the button.");
            return;
        }
        
        var formData = new FormData();
        formData.append('file', fileInput.files[0]);
        
        $.ajax({
            url: "http://localhost:5000/test",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(response) {
                const valuesArray = Object.values(response)
                console.log(valuesArray);
                // Handle the response from the server here
                const tableBody = document.querySelector('#myTable tbody');
                innerHTML = `ddd`

    // Loop through the JSON object and populate the table
    for (const each of valuesArray) {
      let imageUrl = each;
      let pa = imageUrl.split('/')
      console.log(pa);
      console.log(pa.length);


      let name = pa[pa.length-1]
      const row = `<tr>
                    <td>${name}</td>
                  </tr>`;
      tableBody.innerHTML += row;
    }

                console.log(response);
            },
            error: function(xhr, status, error) {
                // Handle errors here
                console.error(error);
            }
        });
    }
</script>


</body>
</html>